
 #home a{
    color: #70F5FF; 
    font-weight: bold;
    text-decoration: underline;
}


#slothpic{
    display:none;
}

.sloth img{
    /*make images equal size but they stretch together*/
    width: 100%;
    
}
h2{
    text-align: center;
}

/*add more to description*/
p:first-of-type{
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*on hover show the name of each location*/
.gallery img{
    height:150px;
    width:150px;
    object-fit:cover;
    margin: 10px;
}

@media screen and (min-width: 800px){
    .sloth{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }
    
    #slothpic{
        display: block;
    }
 
 
}

@media screen and (min-width: 1200px){
 .sloth{
    flex-direction: row; 
 }
 .sloth img{
    width: 50%;
}

}