
 #home a{
    color: #70F5FF; 
    font-weight: bold;
    text-decoration: underline;
}

#slothpic{
    display:none;
}

.sloth img{
    /*make images equal size but they stretch together*/
    width: 100%;
    
}
h2{
    text-align: center;
}

/*add more to description*/
p:first-of-type{
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*on hover show the name of each location*/
.gallery img{
    height:150px;
    width:150px;
    object-fit:cover;
    margin: 10px;
}

/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements*/
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  label{
    display: block;
    float: left;
  }
  .container{
    text-align: center;
  }
  
  /* Styling submit button */
  input[type=submit] {
    width: 50%;
    background-color: #07694C;
    color: white;
    border: none;
  }
  

@media screen and (min-width: 800px){
    .sloth{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }
    
    #slothpic{
        display: block;
    }
 
 
}

@media screen and (min-width: 1200px){
 .sloth{
    flex-direction: row; 
 }
 .sloth img{
    width: 50%;
}

}