

 #menu a{
    color: #70F5FF; 
    font-weight: bold;
    text-decoration: underline;
}
.grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}


div img{
    object-fit: cover;
    width: 80%;
    height: 80%;
}

/*add captions to images*/
/*  */

@media screen and (min-width: 800px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px){
    .grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}