
 #ourstory a{
    color: #70F5FF; 
    font-weight: bold;
    text-decoration: underline;
}
.sloth{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.sloth img{
    /*make images equal size but they stretch together*/
    width: 100%;
}

.story{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
}

.card{
    max-width: 350px;
    margin: 20px;
}


@media screen and (min-width: 800px){
    .sloth img{
        width: 50%;
    }
}

@media screen and (min-width: 1200px){
 

}